{% extends "base.html %}
{% block content %}
{% load static %}
<html>
    <head>
        <title> About{{ restaurant_name }}</title>
        <style>
            body{
            font-family:Times New Roman;
            backgrounfd-color:f5f7fa;
            margin:0;
            padding:0;
            text-align:center;
            }
            nav{
            backgrounfd-color:f5f7fa;
            padding:15px 0;
            }
            .container{
            max-width:700px;
            margin:50px auto 100px auto;
            padding:40px;
            backgrounfd-color:white;
            border-radius:10px;
            
            }
            h1{
            color:#555;
            font-size:18px;
            line-height:1.6;
            }
            p{
            font-size:18px;
            color:#555;
            }
            .restaurant-image{
            max-width:100%;
            height:auto;
            margin-top:20px;
            border-radius:8px;
            }
            </head>
            <body>
            <nav>
            <a href "{% url 'homepage' %">Home</a>
            </nav>
            <div class ="container">
            <h1> About{{restaurant_name}}</h1>
            <p>
            {% if info and info.image %}
            <img 
            src="{{ info.image.url }}"
            alt="Restaurant Image "
            class="restaurant-image">
            {% else %}
            <img 
            src="{% static 'image/res.jpg' %}"
            alt="Restaurant Interior"
            class="restaurant-image"
            {% endif %}
            welcome to our restaurant where culinary art meet passion!our restaurant offers a warm,inviting atmosphere with dishes crafted from the refresh ingrredients.we are committed to providing you an unforgettable dining experience.
            </p>
            <p>
            {% if restaurant.description %}
                {{ restaurant.description }}
            {% else %}
            Welcome to our restaurant where culinary art meets passions ! our restaurant offers a warm,inviting atmosphere with dishes crafted from the ingredients.we are committed to providing you an unforgettable dining experience
            {% endif %}
            <img src={% static 'images/res.jpg' %} alt="Restaurant Interior"/>
            </div>
            </body>
            </html>
            {% endblock %}