<html>
    <head>
        <title>our menu</title>
        <style>
            body{font-family:Arial;padding:2rem;}
            .menu-item{border-bottom:1px solid #ccc;margin-botton:1rem}
            .price{color:green;font-weight:bold;}
            .menu-item h2{ margin:0; }
        </style>
    </head>
    <body>
        {% for items in items %}
        <form method="get"action=".">
            <input type="text"name="serach"placeholder="search menu.."value="{{ query }}">
            <button type="submit">search</button>
        </form>
                    <div class="menu-item">
            <h2>{{ items.name }}</h2>
            <p>{{ items.description }}</p>
            
            
            <p class="price">${{ items.price }}</p>
       <p>
        <a href="{% url 'cart' %}">shopping cart({{ cart_item_count}} items)</a>
      {% if item.image %}
        <img src="{{ item.image.url }}" alt="{{ item.name}}">
        {{% endif %}}
        </div>
        {% empty %}
        <p>no menu items availabile</p>
        {% endfor %}
    </body>
</html>
