{% include 'include/breadcrumbs.html %}
<html>
    <head>
        <title>our menu</title>
        <style>
            body{font-family:Arial;padding:2rem;}
            .menu-item{border-bottom:1px solid #ccc;margin-botton:1rem}
            .price{color:green;font-weight:bold;}
            .menu-item h2{ margin:0; }
        </style>
    </head>
    <body>
        {% for items in items %}
        <form method="get"action=".">
            <input type="text"name="serach"placeholder="search menu.."value="{{ query }}">
            <button type="submit">search</button>
        </form>
                    <div class="menu-item">
            <h2>{{ items.name }}</h2>
            <p>{{ items.description }}</p>
            
            
            <p class="price">${{ items.price }}</p>
       <p>
        <a href="{% url 'cart' %}">shopping cart({{ cart_item_count}} items)</a>
      {% if item.image %}
        <img src="{{ item.image.url }}" alt="{{ item.name}}">
        {{% endif %}}
        </div>
        {% empty %}
        <p>no menu items availabile</p>
        {% endfor %}

        {% for item in page_obj %}
        <div class="menu_item">
            <h3>{{ item.name }}-${{ item.price }}</h3>
            <p>{{ item.description }}</p>
        </div>
        {% endfor %}
        <div class="menu-item">
            <h2>{{ item.name }}</h2>
            <p>{{ item.description }}</p>
            <p classn"price">{{ item|availability_label }}</p>
            {% if item.image %}
            <img src="{{ item.image.url }}"alt="{{} item.name }">
            {% endif %}
        </div>
        <div class="pagination">
            <span>
                page {{ page_obj.number }} of {{ page_obj.pagination.num_pages }}
            </span>
                {% if page_obj.has_previous %}
                <a href="?page=1 ">&laquo ;first </a>
                <a href="?page ={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                {% for num in page_obj.pagination.page_ramge %}
                {% if page_obj.number == num %}
                <strong>{{ num }}</strong>
                {% elif num > page_obj.number|add:-3 and num<page_obj.number|add:3% %}
                <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}
    </body>
</html>
